.chatbox-shadow {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 999;
    display: block;
}
.chatbox {
    background: #fff;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border: 1px solid #fff;
    overflow: hidden;
    position: fixed;
    width: 100%;
    max-width: 400px;
    right: 30px;
    bottom: 30px;
    height: calc(100% - 60px);
    max-height: 700px;
    transition: 0.5s;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform-origin: bottom right;
    transform: scale(1);
}
.chatbox .chatbox-header {
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #005c41;
    position: relative;
}
.chatbox .chatbox-header .left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.right-parent, .left-parent {
    display: flex;
    align-items: center;
    gap: 15px;
}
.right-parent i, .left-parent i {
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}
.chatbox .chatbox-header .cap-svg {
    position: absolute;
    top: 0;
    right: 0;
}                            
#closedMessage_tchat {
    display: none;
    background: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: unset !important;
    line-height: normal;
    padding: 15px 20px;
    font-size: 16px;
    transition: 0.4s;
    gap: 10px;
    font-weight: 600;
    float: unset !important;
}
.btn.btn-primary {
    background: #005c41;
    border: 0;
}