:root {
    --rgba-primary-1: rgb(113, 72, 226, 0.10);
    --rgba-primary-2: rgb(113, 72, 226, 0.2);
    --rgba-primary-3: rgb(113, 72, 226, 0.3);
    --rgba-primary-4: rgb(113, 72, 226, 0.4);
    --rgba-primary-5: rgb(113, 72, 226, 0.5);
    --rgba-primary-6: rgb(113, 72, 226, 0.6);
    --rgba-primary-7: rgb(113, 72, 226, 0.7);
    --rgba-primary-8: rgb(113, 72, 226, 0.8);
    --rgba-primary-9: rgb(113, 72, 226, 0.9);

    --primary-hover: #5b35c4;

    --primary-color: #7148E2;
    --primary-color2: #7148E2;
    --primary-color3: #FF5858;
    --primary-color4: #ec4242;
    --secondary-color: #FDDB8A;
    --secondary-color2: #CDD4ED;
    --secondary-color3: #8B93B1;
    --tertiary-color: #fff;
    --text-primary: #ffffff;
    --hover-color: #0D1216;
    --white-color: #0D1216;
    --black-color: #0D1216;

    --danger-color: #FF4D4D;
    --danger-color1: #FF4A4A;
    --primary-color5: #7148E2;
    --primary-color6: #7148E2;
    --primary-color7: #7148E2;
    --grey-color: #646464;
    --blue-gradient: #7148E2;
    --blue-gradient1: #7148E2;
    --theme-bg: #fff;
    --theme-bg2: #f2f2f2;
    --theme-color: #01010199;
    --theme-color2: rgba(1, 1, 1, 0.60);
    --theme-br: rgba(113, 72, 226, 0.20);
    --theme-br2: #7148E2;
    --theme-br3: rgba(1, 1, 1, 0.15);
}

.modal,
.chat-user-card {
    font-family: 'Inter', sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dark-theme-color {
    --theme-bg: #1f1930;
    --theme-bg2: #050012;
    --white-color: #fff;
    --black-color: #fff;
    --theme-br: rgba(255, 255, 255, 0.20);
    --theme-color: #fff;
    --theme-color2: rgba(255, 255, 255, 0.60);
    --grey-color: #d1d1d1;
    --theme-br3: rgba(255, 255, 255, 0.15);
    --text-primary: #000;
    --tertiary-color: #fff;
    background: var(--theme-bg2) !important;
}

.typing-box {
    min-width: 200px;
    min-height: 44px;
    max-height: 350px;
    height: max-content;
    width: calc(100% + 0px);
    margin: 0px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid var(--theme-br3);
    opacity: 1;
    display: flex;
    gap: 10px;
    padding: 0 10px;
    justify-content: space-between;
}

.typing-box input {
    background: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
    padding: 0 10px;
    width: 80%;
}

.typing-box button {
    background: transparent !important;
    border: none;
}

.msg-container {
    margin-bottom: 10px;
}

.msg-container i {
    font-size: 1rem;
    color: #cccccc;
    margin: 10px 20px 0 0;
    cursor: pointer;
}

.chat-area {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 14px;
    height: 100%;
    max-height: 350px;
    margin-top: 20px;
    /*scrollbar-width: thin;
    scrollbar-color: #7148E2 rgba(113, 72, 226, 0.20);*/
}

.chat-area::-webkit-scrollbar {
    width: 5px;
}

.card-inner img {
    min-width: 75px;
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.chat-area::-webkit-scrollbar {
    display: none;
}

.chatbox-chat {
    width: 100%;
}

.chatbox-chat .text {
    max-width: 70%;
    padding: 10px;
    display: block;
    color: #0D1216;
}

.chatbox-chat.reciver .text {
    border: 1px solid rgba(113, 72, 226, 0.20);
    border-radius: 10px 10px 10px 0px;
    background: #fff;
}

.chatbox-chat.sender {
    display: flex;
    justify-content: end;
}

.chatbox-chat.sender .text {
    border-radius: 10px 10px 0px 10px;
    background: #cccccc47;
}

.btn.reset {
    padding: 10px 15px !important;
    color: #646464;
    border-color: rgba(1, 1, 1, 0.15) !important;
    background: transparent !important;
    border: 1px solid;
}

#u9sst8htz0xhrrds {
    display: flex;
    justify-content: center;
}

.ques-boxes {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    margin-top: 50px;
}

.ques-box {
    box-shadow: 0px 7px 30px -10px rgba(66, 98, 255, 0.1);
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-align: start;
    border-radius: 10px;
    transition: 0.4s;
    min-width: 160px;
    min-height: 90px;
    margin: 0px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .07);
    background: white;
    cursor: pointer;
}

.ques-box button {
    border: none;
    background: none;
}

.ques-box:active {
    background: none;
    border: none;
}

#copyPopup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s;
    background: green;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(1);
    pointer-events: none;
    transition: 0.5s;
}

.modal #le .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (.5rem * 2))
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 1rem 1rem 1rem;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef
}

.modal-footer>:not(:first-child) {
    margin-left: .25rem
}

.modal-footer>:not(:last-child) {
    margin-right: .25rem
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto
    }

    .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2))
    }

    .modal-sm {
        max-width: 300px
    }
}

.chat-user-card {
    max-width: 600px;
    min-height: 500px;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
}

.card-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

p {
    font-size: 14px;
}

.title {
    font-size: 24px;
}

.btn {
    padding: 10px;
    border: 0;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px !important;
    font-size: 14px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    border-radius: 5px !important;
    gap: 5px;
    font-weight: 500;
    color: var(--text-primary);
    cursor: pointer;
}

.chat-type-box {
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: auto;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

#leadForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal .modal-content {
    transform: translateY(-100px) scale(1);
    transition: 0.5s;
}

label {
    display: block;
    margin-bottom: 5px;
}

.modal-footer {
    justify-content: center;
}

.powered-by {
    display: flex;
    align-items: center;
    gap: 10px;
}

.close {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 2rem;
}

.modal-header i {
    font-size: 20px;
    color: var(--theme-color);
}

.modal-header {
    padding: 20px 20px 0 20px;
}

.modal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
}

.modal.show-modal {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: scale(1);
}

.modal.show-modal .modal-content {
    transform: translateY(0) scale(1);
}

.justify-txt {
    text-align: justify;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#start-over {
    margin: 15px 0px;
}

.pagination {
    color: #cccccc;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px
}

.pagination i {
    margin: 0px;

}

.message .reciver-text {
    display: block;
}

.message .reciver-text .reciver {
    display: block;
}

.chat-icons {
    display: inline-flex !important;
    align-items: center;
    margin-top: 10px;
    gap: 25px;
}

.chat-icons img {
    opacity: 0.3;
    width: 16px;
    scale: 1.5;
    object-fit: contain;
}

.chat-icons * {
    margin: 0 !important;
}

.form-control.style-2:focus,
.form-control.style-2.form-control.style-2.form-control.style-2 {
    background: var(--theme-bg2) !important;
    border: 0 !important;
    border-bottom: 1px solid var(--white-color) !important;
}

.reaction-box {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 0;
}

ul.reaction-box li {
    opacity: 0.5;
    transition: 0.4s
}

ul.reaction-box li.active,
ul.reaction-box li:hover {
    opacity: 1;
    scale: 1.2
}

#feedback_error {
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}

#feedback {
    margin-top: 20px;
}

#showcloseMessage{
    margin-left: 10px;
}

#chatbox {
    position: fixed;
    z-index: 999;
    /* width: 500px;
    height: 600px !important;
    max-height: 600px; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    bottom: 80px;
    right: 20px;
    border-radius: 10px !important;
  }