*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    margin: 10px 20px;
}

/* .container{
    border: 1px solid brown;
    border-radius: 20px;
} */

.table{
    border: 1px solid brown;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: fit-content;
}
.table table{
    caption-side: top;
}
.table caption{
    text-align: center;
}
.table>:not(caption)>*>* {
    border-bottom-width:0px ;
}
table thead tr th {
    font-size: 20px;
    padding: 0px 10px 0px 10px;
}
table tbody tr td{
    margin: 5px;
    padding: 8px 10px 0px 10px;    
}