* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set background and font styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for the forms */
.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Form title styling */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Style for input fields */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button styling */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

/* Footer links styling */
.footer-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.footer-links a {
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.sing-up-my, .log-my, .forgot-pass {
    cursor: pointer;
}
/* Hide the signup and forgot-password forms by default */
.forgot-password-form {
    display: none;
}

/* Show the signup or forgot password form when toggled */
.show-forgot-password .login-form {
    display: none;
}

 .show-forgot-password .forgot-password-form {
    display: block;
}

/* Dashboard CSS Start*/

.dashboard-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.encrypted-info {
    margin: 10px 0;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.upload-imgs{
    width: 100px !important;
    height: 100px;
}
/*Dashboard CSS End*/