/* Chat Box CSS Start*/
.chatbox-shadow{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}
.toggle-chat{
    box-shadow: 0px 2px 4px rgba(0,92,65, 0.9);
    cursor: pointer;
    padding: 8px;
    min-width: 190px;
    background: #005c41;
    border-radius: 50px;
    border-bottom-right-radius: 0;
    position: fixed;
    z-index: 999999;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.5s;
    transform-origin: bottom right;
    transform: scale(1);
}
.toggle-chat.close{
    transform: scale(0);
}
.toggle-chat .username,.toggle-chat .status,
.chatbox-header .username,.chatbox-header .status{
    color: #fff;
}
.toggle-chat .username,
.chatbox-header .username{
    font-weight: 600;
    font-size: 18px;
}
.chatbox{
    background: #fff;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border: 1px solid #fff;
    overflow: hidden;
    position: fixed;
    width: 100%;
    max-width: 400px;
    right: 30px;
    bottom: 30px;
    height: calc(100% - 60px);
    max-height: 700px;
    transition: 0.5s;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform-origin: bottom right;
    transform: scale(0);
}
@media only screen and (max-width : 575px){
    .chatbox {
        right: 15px;
        bottom: 15px;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        max-height: 100%;
    }
    .toggle-chat{
        right: 15px;
        bottom: 15px;
        transform: scale(0.7);
    }
}
.chatbox.open{
    transform: scale(1);
}
.chatbox .chatbox-header{
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #005c41;
    position: relative;
}
.chatbox .chatbox-header .left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.chatbox .chatbox-header .cap-svg{
    position: absolute;
    top: 0;
    right: 0;
}
.chatbox .heading{
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.05);
    padding: 10px 30px;
    border-radius: 10px 10px 0 0;
}
.chatbox-inner{
    position: relative;
    padding: 20px;
    background: #fff;
    height: calc(100% - 193px);
}
.chatbox-inner .chat-area{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}
.chatbox-inner .chat-area::-webkit-scrollbar{
    display: none;
}
.chatbox-chat{
    width: 100%;
}
.chatbox-chat .text{
    width: fit-content;
    max-width: 90%;
    padding: 10px;
    display: block;
    text-transform: capitalize;
}
.chatbox-chat.reciver .text {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0px 10px 10px 10px;
}
.chatbox-chat.sender{
    display: flex;
    justify-content: end;
}
.chatbox-chat.sender .text{
    border-radius: 10px 0px 10px 10px;
    background: #005c41;
    color: #fff;
}
.typing-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid var(--border-color);
    background: #fff;
    gap: 15px;
}
.typing-box input{
    background: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
    width: 100%;
    color: rgba(0, 0, 0, 0.50);
}
.typing-box .mic{
    cursor: pointer;
    position: relative;
    display: inline-flex;
}
.typing-box .mic svg path{
    transition: 0.5s;
}
.typing-box .mic:not(.disabled) svg path{
    fill: #005c41;
    fill-opacity: 1;
}
.typing-box .mic::before {
    position: absolute;
    transition: 0.5s;
    content: '';
    height: 2px;
    width: 0;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    background: rgb(127 127 127);
    transform: translate(-50%, -50%) rotate(-45deg);
}
.typing-box .mic.disabled::before {
    width: 26px;
}
.typing-box button{
    border: 0;
    outline: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #005c41 !important;
    border-radius: 5px;
}
.chatbot-dropdown{
    cursor: pointer;
    position: inherit;
}
.chatbox.ask-anything {
    padding: 30px 20px;
    gap: 30px;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}
.chatbox::-webkit-scrollbar {
    display: none;	
}
.chatbox.ask-anything .chatbox-top.bg-overlay-light::after{
    height: calc(100% + 30px);
    width: calc(100% + 40px);
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(180deg, rgba(0,92,65, 0.5), rgba(0,92,65, 0));
    opacity: 1;
}
.chatbox-top.bg-overlay-light img{
    width: 220px;
    height: 270px;
}
.bg-overlay-light > * {
    z-index: 2;
    position: relative;
}
.chatbox.ask-anything .chatbox-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.chatbox.ask-anything .chatbox-top .username{
    font-weight: 700;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #005c41;
}
.chatbox.ask-anything .chatbox-top p{
    font-size: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.50);
}
.chatbox.ask-anything .chatbox-top .user-highlight{
    font-weight: 600;
    text-decoration: underline;
    color: #005c41;
}
.chatbox.ask-anything .ask-anything .title{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}
.chatbox.ask-anything .ask-anything .suggestion-parent .suggestion{
    height: 100%;
    background: rgba(var(--primary-rgb),0.1);
    border: 1px solid rgba(var(--primary-rgb),0.2);
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    border-radius: 5px;
}
.chatbox.ask-anything .ask-anything .suggestion-parent.row.d-flex-row{
    row-gap: 10px;
    margin-right: -5px;
    margin-left: -5px;
}
.chatbox.ask-anything .ask-anything .suggestion-parent.row.d-flex-row > *{
    padding-left: 5px;
    padding-right: 5px;
}
.chatbox.ask-anything .close-icon-main{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}
.chatbot-menu{
    margin: 0;
    left: 5px;
    top: calc(100% + 5px);
    box-shadow: 0 0 2.3125rem rgba(8, 21, 66, 0.09);
    border: 0;
    padding: 10px 0;
}
.chatbot-menu a{
    color: rgba(0, 0, 0, 0.5) !important;
    padding: 7px 20px !important;
}
.right-parent,.left-parent{
    display: flex;
    align-items: center;
    gap: 15px;
}
.chatbox.ask-anything .left-parent{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}
.right-parent i,.left-parent i{
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}
.chatbox.expand-chatbox-tchat{
    max-width:700px;
    max-height:1000px;
}
#closedMessage_tchat {
    display: block;
    background: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
.copyPopupTchat{
    font-size: 10px;
    font-weight: 600;
    max-width: 120px;
    position: relative;
    top: -47px;
    padding: 5px;
    background: #fff;
    color: #005c41;
    border-radius: 10px;
    text-wrap: nowrap;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: bottom center;
    gap: 5px;
    transform-origin: center;
    transform: scale(0);
    transition: 0.4s ease;
    margin-bottom: -32px;
}
.copyPopupTchat i{
    font-size: 11px;
}
.bg-overlay-light::after {
    position: absolute;
    content: '';
    background: #005c41;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    z-index: 0;
    opacity: 0.1;
    transition: 0.4s;
}
.btn-with-arrow {
    position: relative;
    gap: 10px;
}
.btn-with-arrow::after {
    font-size: 14px;
    content: "\f061";
    position: relative;
    font-family: "FontAwesome";
    font-weight: normal;
    transition: 0.4s;
}

.user-image img{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: 1px solid white;
}

.message.msg-container.msg-user{
    display: -webkit-inline-box;
}

/* Chat Box CSS End*/


/* Old Chat Box CSS Start*/
.main-class{
    padding: 20px;
    margin: 20px 20px;
    border: 1px solid brown;
    border-radius: 10px;
    height:700px;
    width:500px;
}
.msg-box{
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 14px;
    height: 100%;
    margin-top: 10px;                              
}

.message.msg-container-reciver{
    margin: 10px;
}
/* .chatbox-chat.reciver{
     display: flex; 
    position: relative;
    padding: 10px;
    margin: 20px 20px; 
    border: 1px solid brown;
    border-radius: 10px;
    float: left;
} */
.text p{
    margin-bottom: 0;
}
.chat-icons{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 12px;
    position: relative;
    left: 17px;
    margin: 4px 10px;
    /*top: -55px;
    margin-bottom: -111px;*/
}
.loader-bot{
    position: relative;
    top: 55ppx;
    left: -337px;
    transform-origin: top left;
    transform: scale(0);
    transition: 0.4s ease;
    /*display:none;*/
}
.reciver-text{
    /* position: relative; */
    /* top: -44px; */
    /* left: -128px; */
    transform-origin: top left;
    transform: scale(1);
    transition: 0.4s ease;
    margin-left: 20px;
    display: flex;
}
.copyPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #611616;
    /* float: left; */
    height: 30px;
    margin-left: 8px;
    margin-top: -1px;
    color: #ffffff;
    position: relative;
    top: -17px;
    /* left: -10px; */
    padding: 12px;
    gap: 5px;
    transform-origin: bottom center;
    transform: scale(0);
    transition: 0.4s ease;
    width: 220px;
    font-size: 13px;
}
.copyPopup::after {
    content: '';
    position: absolute;
    /* bottom: -10px; */
    left: 121px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #611616;
    top: 30px;
}
.msg-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 10px;
    background: linear-gradient(180deg, rgba(0, 92, 65, 0.5), rgba(0, 92, 65, 0.5));
    opacity: 1;
    padding: 10px;
    float: left;
    height: 30px;
    /* margin-left: 0px; */
    /* margin-top: 5px; */
    color: #005c41;
    /* position: absolute;*/

}
.msg-wrapper::after {
    height: calc(100% + 30px);
    width: calc(100% + 40px);
    /* top: -30px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    background: linear-gradient(180deg, rgba(0, 92, 65, 0.5), rgba(0, 92, 65, 0.5));
    opacity: 1;
}
.msg-wrapper .ball {
    width: 2px;
    height: 2px;
    border-radius: 100%;
    margin: 0 2px;
    opacity: 0;
    background: #005c41;
    animation: 2s msgbounce ease infinite;
    position: relative;
    top: 6px;
}
@keyframes msgbounce {
    50% {
        /* transform: translateY(5px); */
        opacity: 1;
    }
}
/* Old Chat Box CSS End*/